ENV_PROFILE=${ENV_PROFILE:-default}

if [ "$ENV_PROFILE" = "default" ]; then
  if [ -f .env ]; then
    dotenv .env
  else
    log_status "⚠️ File .env not found... skipping"
  fi
else
  if [ -f .env.$ENV_PROFILE ]; then
    dotenv .env.$ENV_PROFILE
  else
    log_status "⚠️ File .env.$ENV_PROFILE not found... skipping"
  fi
fi
