stages:
  - read secret
  - build docker
  - test docker
  - push docker
  - deploy docker

variables:
  DOCKER_HOST: unix:///var/run/docker.sock
  IMAGE_NAME: harbor.isys.net.ua/$CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHORT_SHA
  IMAGE_NAME_LATEST: harbor.isys.net.ua/$CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG:latest
  HARBOR_HOST: harbor.isys.net.ua
    #Vault
  VAULT_ADDR: "https://passbolt.isys.net.ua:8200"
  VAULT_AUTH_ROLE: "role-harbor"
  VAULT_CACERT: "/etc/ssl/certs/_.isys.net.ua.crt" # Volume in Gitlab runner
  DEPLOY_USER: root
  DEPLOY_HOST: 10.60.238.111
  CONTAINER_NAME: geostat_tiles
  CONTAINER_PORT: 18052
  CI_RUNNER_IP: 10.41.0.67

image: docker:latest

read_secret: #get vaulf from hashivault
  stage: read secret
  image: hashicorp/vault:latest
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://passbolt.isys.net.ua
  script:
    #Vault
    - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=$VAULT_AUTH_ROLE jwt=$VAULT_ID_TOKEN)"
    - export PASSWORD="$(vault kv get -field=password secret/harbor)"
    - export LOGIN="$(vault kv get -field=login secret/harbor)"
    - echo "PASSWORD=$PASSWORD" > secrets.env
    - echo "LOGIN=$LOGIN" >> secrets.env
    #Env
  artifacts:
    reports:
      dotenv: secrets.env
    expire_in: 1 week

build:
  stage: build docker
  script:
    - docker build -t $IMAGE_NAME .
    - | 
      cat <<EOF > app.env
        keep_alive: 75
        listen_addresses: "0.0.0.0:3000"
        base_path: /tiles
        worker_processes: 8
        cache_size_mb: 512
        tile_cache_size_mb: 256
        preferred_encoding: gzip
        web_ui: disable
        on_invalid: abort
        observability:
        metrics:
            add_labels: {}
        cors:
        origin:
            - https://example.org
        max_age: 3600
        postgres:
        connection_string: "postgres://postgres@localhost:5432/db"
        ssl_cert: "./postgresql.crt"
        ssl_key: "./postgresql.key"
        ssl_root_cert: "./root.crt"
        default_srid: 4326
        pool_size: 20
        max_feature_count: null 
        auto_bounds: quick
        auto_publish:
            from_schemas:
            - public
            - my_schema
            tables:
            source_id_format: "table.{schema}.{table}.{column}"
            from_schemas: my_other_schema
            id_columns: feature_id
            clip_geom: true
            buffer: 64
            extent: 4096
            functions:
            from_schemas:
                - public
                - my_schema
            source_id_format: "{schema}.{function}"
        tables:
            table_source_id:
            layer_id: table_source
            schema: public
            table: table_source
            srid: 4326
            geometry_column: geom
            id_column: ~
            minzoom: 0
            maxzoom: 30
            bounds: [-180.0, -90.0, 180.0, 90.0]
            extent: 4096
            buffer: 64
            clip_geom: true
            geometry_type: GEOMETRY
            properties:
                gid: int4
        functions:
            function_source_id:
            schema: public
            function: function_zxy_query
            minzoom: 0
            maxzoom: 30
            bounds: [-180.0, -90.0, 180.0, 90.0]
        pmtiles:
        directory_cache_size_mb: 128
        allow_http: true
        paths:
            - /dir-path
            - /path/to/pmt.pmtiles
            - https://example.org/path/tiles.pmtiles
        sources:
            pm-src1: /path/to/pmt.pmtiles
            pm-web2: https://example.org/path/tiles.pmtiles
        mbtiles:
        paths:
            - /dir-pathe
            - /path/to/mbtiles.mbtiles
        sources:
            mb-src1: /path/to/mbtiles1.mbtiles
        sprites:
        cache_size_mb: 64
        paths:
            - /path/to/my_images
        sources:
            my_sprites: /path/to/some_dir
        fonts:
        cache_size_mb: 64
        paths:
            - /path/to/font/file.ttf
            - /path/to/font_dir
        styles:
        paths:
            - /path/to/styles_dir
            - /path/to/maplibre_style.json
        sources:
            some_style_name: /path/to/this/style.json
            other_style_name: /path/to/other_style.json
        tilejson_url_version_param: null
      EOF
    - cat app.env
  artifacts:
    paths:
      - app.env
    expire_in: 1 week

test:
  stage: test docker
  script:
    - cat app.env
    - apk add --no-cache curl
    - apk add --no-cache net-tools
    - docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME || true
    - docker network create stan || true
    - docker run --rm -d --name $CONTAINER_NAME -p $CONTAINER_PORT:8053 -v app.env:/app/data/config.yaml $IMAGE_NAME
    - sleep 15
    - curl -v http://$CI_RUNNER_IP:$CONTAINER_PORT
    - docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME || true
  dependencies:
    - build

push:
  stage: push docker
  script:
    - echo $PASSWORD | docker login $HARBOR_HOST -u $LOGIN --password-stdin
    - docker push $IMAGE_NAME
  #  - docker push $IMAGE_NAME_LATEST
    - docker rmi $IMAGE_NAME || true
  #  - docker rmi $IMAGE_NAME_LATEST || true

deploy:
  stage: deploy docker
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
    - ssh -T $DEPLOY_USER@$DEPLOY_HOST "echo \"$PASSWORD\" | docker login $HARBOR_HOST -u \"$LOGIN\" --password-stdin && docker pull $IMAGE_NAME"
    - ssh -T $DEPLOY_USER@$DEPLOY_HOST "docker stop $CONTAINER_NAME || true && docker rm $CONTAINER_NAME || true && docker network create stan || true" 
  #  - ssh -T $DEPLOY_USER@$DEPLOY_HOST "docker rm $CONTAINER_NAME || true"
  #  - ssh -T $DEPLOY_USER@$DEPLOY_HOST "docker network create stan || true"
    - ssh -T $DEPLOY_USER@$DEPLOY_HOST "docker images --format '{{.Repository}}:{{.Tag}} {{.ID}}' | grep harbor.isys.net.ua/$CI_PROJECT_NAME | awk '{print $2}' | xargs -r docker rmi -f"
    - scp app.env $DEPLOY_USER@$DEPLOY_HOST:/tmp/app.env
    - ssh -T $DEPLOY_USER@$DEPLOY_HOST "docker run -d --name $CONTAINER_NAME --network=stan -p $CONTAINER_PORT:8052 --restart unless-stopped -v app.env:/app/data/config.yaml $IMAGE_NAME"
  dependencies:
    - build
    - read_secret